:root {
  --primary-color: #4dafa9;
  --secondary-color: #4d85af;
  --tertiary-color: rgb(77, 175, 120);
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  margin-bottom: 5%;
}

main {
  font-family: var(--font-family);
  margin-top: 5%;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 2px;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px;
}

a {
  color: var(--tertiary-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

a:hover {
  color: #295d40;
}

.main-content {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.hero-content {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.learn-more {
  color: var(--tertiary-color);
  text-transform: uppercase;
  text-decoration: none;
}

.learn-more:hover {
  color: #295d40;
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 26px;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  text-align: center !important;
}

.btn-primary:hover {
  background: #2f6b67;
  color: #fff;
}

.btn-secondary {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 26px;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  text-align: center !important;
}

.btn-secondary:hover {
  background: #29475d;
  color: #fff;
}

.btn-tertiary {
  background: var(--tertiary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 26px;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
  text-align: center !important;
}

.btn-tertiary:hover {
  background: #295d40;
  color: #fff;
}

.selfie {
  width: 100%;
  padding-top: 5px;
}

.project-thumbnail {
  display: block;
  margin: auto;
}

.nav-brand {
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-link {
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 40px;
}
