:root {
  --primary-color: #4dafa9;
  --secondary-color: #4d85af;
  --tertiary-color: rgb(77, 175, 120);
}

@media (max-width: 600px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .btn-primary,
  .btn-secondary,
  .btn-tertiary {
    font-size: 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 10%;
}

h1 {
  font-weight: 800;
  font-size: 40px;
}

h2 {
  font-weight: 400;
  font-size: 22px;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
}

a,
p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.learn-more {
  color: var(--tertiary-color);
  text-transform: uppercase;
  text-decoration: none;
}

.btn-primary {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  text-align: center !important;
}

.btn-primary:hover {
  background: #2f6b67;
}

.btn-secondary {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  text-align: center !important;
}

.btn-secondary:hover {
  background: #29475d;
}

.btn-tertiary {
  background: var(--tertiary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 26px;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  text-align: center !important;
}

.btn-tertiary:hover {
  background: #295d40;
}

.selfie {
  max-width: 100%;
  margin: 5px;
}

.project-thumbnail {
  display: block;
  margin: auto;
}
